.App {
  background-color: #38114d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  color: white;
  text-align: left;
  width: 85%;
}

.App-body {
  align-items: left;
  font-size: calc(10px + 2vmin);
  background-color: #38114d;
  color: white;
  text-align: left;
}

.card-header {
  font-weight: bold;
  font-style: italic;
}

input, textarea {
  border-style: hidden;
  background-color: #0dcaf0;
}

.card-text:first-of-type {
  border-bottom: 3px solid;
}

.card-text:nth-of-type(2) {
  border-bottom: 1px solid;
}